/node_modules
/public/hot
/public/storage
/storage/framework/*
/storage/logs/*
/storage/*.txt
/bootstrap/cache/*
/vendor
/.idea
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
/storage/google_credentials_92e6152b05f6.json
